:root {
    --color-gray-text: hsla(25, 0%, 56%, 1);
    --color-red-support: hsla(0, 100%, 56%, 1);
    --color-gradient-pink: hsla(348, 98%, 59%, 0.15);
    --color-gradient-cyan: hsla(178, 98%, 55%, 0.15);
    --color-highlight-bg: hsla(270, 80%, 55%, 1);
    --color-white: hsla(0, 0%, 100%, 1);
}

.pagos {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 30px;
    margin-bottom: 50px;
}

@media (min-width: 1024px) {
    .pagos {
        gap: 85px;
    }
}

.pagos-img {
    width: 100px;
}

.pagos-text {
    font-size: 14px;
    color: var(--color-gray-text);
    margin-top: 8px;
}

.pagos-link {
    display: block;
    margin-top: 8px;
    font-size: 14px;
    color: var(--color-gray-text);
}

.modal-support-text {
    color: var(--color-red-support);
    margin-top: 1em;
}

.hero-image-wrapper {
    width: 35em;
    max-width: 100%;
}

.gradient-background {
    background: radial-gradient(circle at 30% 70%, var(--color-gradient-pink) 0%, transparent 50%), radial-gradient(circle at 70% 30%, var(--color-gradient-cyan) 0%, transparent 50%);
}

.text-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.highlight {
    background-color: var(--color-highlight-bg);
    color: var(--color-white);
    padding: 5px;
}

/* https://remixicon.com/ */
i[class*="ri-"] {
    font-size: 1.5em;
}

.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.redes>.flex {
    flex-wrap: wrap;
}